@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', sans-serif;
}

.max-container {
  @apply max-w-5xl mx-auto  sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
}

.head-text {
  @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
}

.subhead-text {
  @apply font-semibold sm:text-3xl text-xl relative font-poppins;
}

.purple-gradient_text {
  @apply bg-gradient-to-r from-[#f597fa] to-[#910b9d] bg-clip-text text-transparent;
}

.header {
  @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
}

.info-box {
  @apply mx-5 relative flex text-white flex-col gap-3 max-w-xl text-box pt-4 pb-12 px-8;
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.text-box {
  background: #910b9d;
  position: relative;
  border-radius: 10px;
  border: #be05d3;
  box-shadow: 0.6vmin 0.6vmin #a505c1, 1vmin 1vmin #a505c1, 1vmin 1vmin #a505c1,
    0.65vmin 1vmin #a505c1, 1vmin 0.65vmin #a505c1;
}
